<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsdlab.biseo.repository.NoticeRepository">
    <insert id="createNotice" parameterType="NoticeModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Notice(user_id, title, content)
        VALUES (#{userId}, #{title}, #{content});
    </insert>

    <insert id="createTarget" parameterType="NoticeTargetModel">
        INSERT INTO
            Notice_Target(notice_id, target)
        VALUES
            <foreach collection="list" item="model" separator=",">
                (#{model.noticeId}, #{model.target})
            </foreach>
    </insert>

    <resultMap id="noticeFileMap" type="NoticeFileModel">
        <result property="path" column="path"/>
        <result property="type" column="type"/>
    </resultMap>

    <resultMap id="noticeAndFileMap" type="NoticeAndFileModel">
        <id property="id" column="id"/>
        <result property="userId" column="userId"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <collection property="files" resultMap="noticeFileMap"/>
    </resultMap>

    <select id="findNoticeAndFileById" resultMap="noticeAndFileMap">
        SELECT
            n.id,
            (SELECT name FROM USER WHERE id = n.user_id) AS userId,
            n.title,
            n.content,
            n.created_at,
            n.updated_at,
            f.path,
            f.type
        FROM
            Notice n LEFT JOIN Notice_File f
        ON
            n.id = f.notice_id
        WHERE
            n.id = #{noticeId} AND n.is_deleted = 0;
    </select>
    
    <select id="findReadLogByUserId" resultType="NoticeReadModel">
        SELECT
            *
        FROM
            Notice_Read
        WHERE
            user_id = #{userId} AND notice_id = #{noticeId} AND is_deleted = 0;
    </select>

    <insert id="createReadLog" parameterType="NoticeReadModel">
        INSERT INTO Notice_Read(notice_id, user_id) VALUES (#{noticeId}, #{userId});
    </insert>

    <select id="findReadLogByNoticeId" resultType="UserModel">
        SELECT
            id, name, department
        FROM
            User
        WHERE
            id IN (SELECT user_id FROM Notice_Read WHERE notice_id = #{noticeId} AND is_deleted = 0)
    </select>

    <select id="findNotReadLogByNoticeId" resultType="UserModel">
        SELECT
            id, name, department
        FROM
            User
        WHERE
            department NOT IN (SELECT target FROM Notice_Target WHERE notice_id = #{noticeId} AND is_deleted = 0)
                AND
            id NOT IN (SELECT user_id FROM Notice_Read WHERE notice_id = #{noticeId} AND is_deleted = 0);
    </select>

    <select id="findTargetByNoticeId" resultType="Integer">
        SELECT target FROM Notice_Target WHERE notice_id = #{noticeId} AND is_deleted = 0;
    </select>

    <select id="findNoticeById" resultType="NoticeModel">
        SELECT
             id, user_id, title, content
        FROM
            Notice
        WHERE
            id = #{noticeId} AND is_deleted = 0;
    </select>

    <update id="updateNotice" parameterType="NoticeModel">
        UPDATE
            Notice
        SET
            title = #{title},
            content = #{content}
        WHERE
            id = #{id};
    </update>

    <update id="deleteTarget">
        UPDATE
            Notice_Target
        SET
            is_deleted = true
        WHERE
            notice_id = #{noticeId}
    </update>

    <update id="deleteReadList">
        UPDATE
            Notice_Read
        SET
            is_deleted = true
        WHERE
            notice_id = #{noticeId}
    </update>
</mapper>