<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsdlab.biseo.repository.ScrapRepository">
    <insert id="createScrap" parameterType="ScrapModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Scrap(user_id, notice_id)
        VALUES (#{userId}, #{noticeId});
    </insert>

    <select id="findScrapByUserIdAndNoticeId" resultType="ScrapModel">
        SELECT * FROM Scrap
        WHERE user_id = #{userId} AND notice_id = #{noticeId} AND is_deleted = 0;
    </select>

    <select id="findScrapById" resultType="ScrapModel">
        SELECT * FROM Scrap
        WHERE id = #{scrapId} AND is_deleted = 0;
    </select>

    <update id="deleteScrapById">
        UPDATE
            Scrap
        SET
            is_deleted = 1
        WHERE
            id = #{id}
    </update>

    <select id="getScrapList" resultType="ScrapListItemDTO">
        SELECT
            s.id,
            u.name as userId,
            n.id as noticeId,
            n.title,
            n.content,
            (select path from Notice_File where notice_id = n.id and type = 'IMG' limit 1) as thumbnail,
            s.created_at
        FROM
            Scrap s
        LEFT JOIN Notice n on n.id = s.notice_id
        LEFT JOIN User u ON u.id = n.user_id
        WHERE
            s.user_id = #{userId}
        <if test="cursor neq null">
            AND s.id <![CDATA[<=]]> #{cursor}
        </if>
        <if test="searchBy neq null and searchBy neq ''.toString()">
            AND n.title LIKE CONCAT('%',#{searchBy},'%')
        </if>
        AND
            s.is_deleted = 0
        ORDER BY
            s.id desc
        LIMIT
            #{limits};
    </select>
</mapper>