<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsdlab.biseo.repository.ScrapRepository">
    <insert id="createScrap" parameterType="ScrapModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Scrap(user_id, notice_id)
        VALUES (#{userId}, #{noticeId});
    </insert>

    <select id="findScrapByUserIdAndNoticeId" resultType="ScrapModel">
        SELECT * FROM Scrap
        WHERE user_id = #{userId} AND notice_id = #{noticeId} AND is_deleted = 0;
    </select>

    <select id="findScrapById" resultType="ScrapModel">
        SELECT * FROM Scrap
        WHERE id = #{scrapId} AND is_deleted = 0;
    </select>

    <update id="deleteScrapById">
        UPDATE
            Scrap
        SET
            is_deleted = 1
        WHERE
            id = #{id}
    </update>
</mapper>