<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bcsdlab.biseo.repository.ScrapRepository">
    <insert id="createScrap" parameterType="ScrapModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Scrap(user_id, notice_id)
        VALUES (#{userId}, #{noticeId});
    </insert>
</mapper>